# Disable running scripts during installation
ignore-scripts=true

# Allow git-hosted exotic subdependencies (e.g. @edrlab/thorium-locales)
block-exotic-subdeps=false

# GitHub Packages for @skeelotech scope
@skeelotech:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}